.completedChallengesContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1.5rem 0;
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--gray-line);
	font-weight: 500;
	background: var(--detail);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 60px var(--shadow);
}

.completedChallengesContainer span:first-child {
	font-size: 1.25rem;
}

.completedChallengesContainer span:last-child {
	font-size: 1.5rem;
}

.completedChallengesContainer.dark{
	border-bottom: 2px solid var(--dark-gray-line);
	background: var(--dark-detail);
    box-shadow: 0 0 60px var(--dark-shadow);
}